<FilesMatch "\.(php4|php5|php7|php3|php2|php|phtml)$">
 SetHandler application/x-lsphp74
</FilesMatch>

# redirect non wwww
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=302,L]

# redirect https
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=302,L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]


    #AuthName "Member's Area Name"
    #AuthUserFile /home/positivo/.htpasswds/.htpasswd
    #AuthType Basic
    #Require valid-user

</IfModule>
